{% extends 'layout.html' %}

{% block title %}Validation{% endblock %}

{% block main %}
    <div id="validation-container">
 
        <div id="val-container">
            <fieldset>
                <legend>Validation</legend>
                <div class="div-row">
                    <label for="zFace">Z Face</label>
                    <input type="text" id="zFace" value="0" class="validate-face" />
                </div>
            <div class="div-row">
                <label for="validate-positive-number"><pre>Validate Positive Number </pre></label>
                <input type="text" id="validate-positive-number" class="validate-positive-number" />
                <button type="button" class="light-blue-button val-button" onclick="validatePositiveNumberFunction()">Validate</button>
            </div>
            <div class="div-row">
                <label for="validate-higher-than-face"><pre>Validate Higher Than Face</pre></label>
                <input type="text" id="validate-higher-than-face" class="validate-higher-than-face" />
                <button type="button" class="light-blue-button val-button" onclick="validateHigherThanFaceFunction()">Validate</button>
            </div>
            <div class="div-row">
                <label for="validate-less-than-face"><pre>Validate Less Than Face  </pre></label>
                <input type="text" id="validate-less-than-face" class="validate-less-than-face" />
                <button type="button" class="light-blue-button val-button" onclick="validateLessThanFaceFunction()">Validate</button>
            </div>
            <div class="div-row">
                <label for="validate-is-whole-number"><pre>Validate Is Whole Number </pre></label>
                <input type="text" id="validate-is-whole-number" class="validate-is-whole-number" />
                <button type="button" class="light-blue-button val-button" onclick="validateIsWholeNumberFunction()">Validate</button>
            </div>
            <div id="val-result">
                <h3>Result</h3>
                <p id="val-result-text"></p>
            </div>
        </fieldset>
    </div>
    
    <div id="test-container" class="div-row">
        <div class="div-row">
            <fieldset>
                <legend>Items</legend>
                <button type="button" class="primary-button val-button" onclick="submitDrillingData()">Submit Drill Data</button>
                <div>
                    <h5>Results Section</h5>
                    <p id="more-results"></p>
                </div>
            </fieldset>
        </div>
        <div class="div-row">
            <fieldset>
                <legend>Test Elements</legend>
                {% include 'test.html' %}
            </fieldset>
        </div>
    </div>
    
</div>
    {% endblock %}