{% extends 'layout.html' %}
{% block title %}Drawing{% endblock %}

{% block main %}
      <div id="options">
        <button type="button" id="draw-line-button" class="ui-button light-blue-button" onclick="drawLineModalFunction()">Draw Line</button>
        <button type="button" id="draw-circle-button" class="ui-button light-blue-button" onclick="drawCircleModalFunction()">Draw Circle</button>
        <button type="button" id="draw-rectangle-button" class="ui-button light-blue-button" onclick="drawRectangleModalFunction()">Draw Rectangle</button>
        <button type="button" id="draw-arc-button" class="ui-button light-blue-button" onclick="drawArcModalFunction()">Draw Arc</button>
        <button type="button" id="add-text-button" class="ui-button light-blue-button" onclick="addTextModalFunction()">Add Text</button>
        <button type="button" id="reDraw-canvas-button" class="ui-button primary-button" onclick="reDrawCanvas()">ReDrawCanvas</button>
        <button type="button" id="log-shapes-button" class="ui-button insert-button" onclick="logShapes()">Log Shapes</button>
        <button type="button" id="save-json-button" class="ui-button grey-button" onclick="saveJsonModalFunction()">SAVE JSON</button>
        <button type="button" id="load-json-button" class="ui-button grey-button" onclick="loadJsonModalFunction()">LOAD JSON</button>
        <button type="button" id="show-all-shapes-button" class="ui-button grey-button" onclick="showShapesModalFunction()">View Shapes</button>
        <div class="div-row" id="canvas-scale-factor-div">
          <label for = "canvas-scale-factor">Set Canvas Scale:</label>
          <input type="number" id="canvas-scale-factor" name="canvas-scale-factor" value="1.5" min="0.1" max="5" step="0.1" onchange="setCanvasGlobalScale()" />
        </div>
       
      </div>

      {% include 'modals.html' %}

      <div id="canvas-main"></div>
{% endblock %}