{% extends 'layout.html' %}
{% block title %}Drawing{% endblock %}

{% block main %}
      <div id="options">
        <button type="button" id="draw-line-button" class="ui-button light-blue-button" onclick="drawLineModalFunction()">Draw Line</button>
        <button type="button" id="draw-circle-button" class="ui-button light-blue-button" onclick="drawCircleModalFunction()">Draw Circle</button>
        <button type="button" id="draw-rectangle-button" class="ui-button light-blue-button" onclick="drawRectangleModalFunction()">Draw Rectangle</button>
        <button type="button" id="fill-rectangle-button" class="ui-button light-blue-button" onclick="fillRectangleModalFunction()">Fill Rectangle</button>
        <button type="button" id="draw-arc-button" class="ui-button light-blue-button" onclick="drawArcModalFunction()">Draw Arc</button>
        <button type="button" id="add-text-button" class="ui-button light-blue-button" onclick="addTextModalFunction()">Add Text</button>
        <button type="button" id="reDraw-canvas-button" class="ui-button primary-button" onclick="reDrawCanvas()">ReDrawCanvas</button>
        <button type="button" id="save-json-button" class="ui-button grey-button" onclick="saveJsonModalFunction()">SAVE JSON</button>
        <button type="button" id="load-json-button" class="ui-button grey-button" onclick="loadJsonModalFunction()">LOAD JSON</button>
        <button type="button" id="show-all-shapes-button" class="ui-button grey-button" onclick="showShapesModalFunction()">View Shapes</button>
        <div class="div-row" id="canvas-scale-factor-div">
          <label for = "canvas-scale-factor">Set Canvas Scale:</label>
          <input type="number" id="canvas-scale-factor" name="canvas-scale-factor" value="1.5" min="0.1" max="5" step="0.1" onchange="reDrawCanvas()" />
        </div>
        <!-- build a select box with colors: black (selected), red, blue, green, yellow-->
        <div id="draw-color-div" class="div-row">
            <label for="draw-color">Draw Color:</label>
            <select id="draw-color" name="color">
                <option value="black">Black</option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="yellow">Yellow</option>
            </select>
        </div>
        <!-- build radio button for solid - dashed line -->
        <div class="div-row" id="solid-line-div">
            <div>
                <label for="solid">Solid Line</label>
                <input type="radio" id="solid-line" name="line" value="solid" checked />
            </div>
            <div>
                <label for="dashed">Dashed Line</label>
                <input type="radio" id="dashed-line" name="line" value="dashed" />
            </div>
        </div>
        <!-- build a select box with line width: 1 (selected), 2, 3, 4, 5-->
        <div id="line-width-div" class="div-row">
          <label for="line-width">Line Width:</label>
          <select id="line-width" name="line-width">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>

      {% include 'modals.html' %}

      <canvas id="canvas"></canvas>
{% endblock %}