<div id="draw-line-modal" class="modal-content" style="display: none">
  <div id="draw-line-modal-header" class="modal-header">
    <span class="close" id="draw-line-span" onclick="closeModal('draw-line-modal')">&times;</span>
  </div>
  <div class="div-row modal-elements-div">
    <fieldset>
      <legend>X and Y values
      </legend>
      <div class="div-row">
        <label for="x1">X1</label>
        <input type="text" id="x1" value="1" placeholder="x1" />
      </div>
      <div class="div-row">
        <label for="y1">Y1</label>
        <input type="text" id="y1" value="1" placeholder="y1" />
      </div>
      <div class="div-row">
        <label for="x2">X2</label>
        <input type="text" id="x2" value="2" placeholder="x2" />
      </div>
      <div class="div-row">
        <label for="y2">Y2</label>
        <input type="text" id="y2" value="2" placeholder="y2" />
      </div>
      <button type="button" id="draw-line-modal-button" class="primary-button modal-button" onclick="drawLine()">Draw Line</button>
    </fieldset>

    <fieldset>
      <legend>Specs</legend>

      <div class="div-row sb">
        <label for="ldraw-color">Draw Color:</label>
        <select id="ldraw-color" name="color">
          <option value="black">Black</option>
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="yellow">Yellow</option>
        </select>
      </div>

      <div class="div-row sb">
        <label for="lline-width">Line Width:</label>
        <select id="lline-width" name="line-width">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <fieldset>
        <legend>Line Type</legend>
        <div class="div-column">
          <div class="div-row">
            <label for="solid-line">Solid Line</label>
            <input type="radio" id="lsolid-line" name="line" value="solid" checked />
          </div>
          
          <div class="div-row">
            <label for="dashed-line">Dashed Line</label>
            <input type="radio" id="ldashed-line" name="line" value="dashed" />
          </div>
        </div>
      </fieldset>
    </fieldset>

      <fieldset>
        <legend>Calculate 2nd vertice</legend>
        <div class="div-row">
          <label for="line-angle">Angle</label>
          <input type="text" id="line-angle" value="45" placeholder="angle" />
        </div>
        <div class="div-row">
          <label for="line-length">Length</label>
          <input type="text" id="line-length" value="1" placeholder="length" />
        </div>
        <button type="button" id="calc-second-vertice-button" class="light-blue-button" onclick="calcSecondLineVertice()">Calc</button>
      </fieldset>

  </div>
</div>

<div id="draw-circle-modal" class="modal-content" style="display: none">
  <div id="draw-circle-modal-header" class="modal-header">
    <span class="close" id="draw-circle-span" onclick="closeModal('draw-circle-modal')">&times;</span>
  </div>
  <div class="div-row modal-elements-div">

      <fieldset>
        <legend>Circle Dimensions</legend>
        <div class="div-row">
          <label for="circle-xCenter">X Center</label>
          <input type="text" id="circle-xCenter" value="0" placeholder="x center" />
        </div>
        <div class="div-row">
          <label for="circle-yCenter">Y Center</label>
          <input type="text" id="circle-yCenter" value="0" placeholder="y center" />
        </div>
        <div class="div-row">
          <label for="circle-radius">Radius</label>
          <input type="text" id="circle-radius" value="1" placeholder="radius" />
        </div>
        <button type="button" id="draw-circle-modal-button" class="primary-button modal-button" onclick="drawCircle()">Draw Circle</button>
      </fieldset>

      <fieldset>
        <legend>Specs</legend>
  
        <div class="div-row sb">
          <label for="draw-color">Draw Color:</label>
          <select id="draw-color" name="color">
            <option value="black">Black</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="yellow">Yellow</option>
          </select>
        </div>
  
        <div class="div-row sb">
          <label for="line-width">Line Width:</label>
          <select id="line-width" name="line-width">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <fieldset>
          <legend>Line Type</legend>
          <div class="div-column">
            <div class="div-row">
              <label for="solid-line">Solid Line</label>
              <input type="radio" id="solid-line" name="line" value="solid" checked />
            </div>
            
            <div class="div-row">
              <label for="dashed-line">Dashed Line</label>
              <input type="radio" id="dashed-line" name="line" value="dashed" />
            </div>
          </div>
        </fieldset>
      </fieldset>

  </div>
</div>

<div id="draw-rectangle-modal" class="modal-content" style="display: none">
  <div id="draw-rectangle-modal-header" class="modal-header">
    <span class="close" id="draw-rectangle-span" onclick="closeModal('draw-rectangle-modal')">&times;</span>
  </div>
  <div id="draw-rectangle-div" class="div-row modal-elements-div">
    <fieldset>
      <legend>Rectangle Dimensions</legend>
      <div class="div-row">
        <label for="rect-x">X 1</label>
        <input type="text" id="rect-x" value="0" placeholder="x" tabindex="-1"/>
      </div>
      <div class="div-row">
        <label for="rect-y">Y 1</label>
        <input type="text" id="rect-y" value="0" placeholder="y" />
      </div>
      <div class="div-row">
        <label for="rect-width">Width</label>
        <input type="text" id="rect-width" value="1" placeholder="width" />
      </div>
      <div class="div-row">
        <label for="rect-height">Height</label>
        <input type="text" id="rect-height" value="1" placeholder="height" />
      </div>
      <button type="button" id="draw-rectangle-modal-button" class="primary-button modal-button" onclick="drawRectangle()">Draw Rectangle</button>
    </fieldset>


    <fieldset>
      <legend>Specs</legend>

      <div class="div-row sb">
        <label for="draw-color">Draw Color:</label>
        <select id="draw-color" name="color">
          <option value="black">Black</option>
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="yellow">Yellow</option>
        </select>
      </div>

      <div class="div-row sb">
        <label for="line-width">Line Width:</label>
        <select id="line-width" name="line-width">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <fieldset>
        <legend>Line Type</legend>
        <div class="div-column">
          <div class="div-row">
            <label for="solid-line">Solid Line</label>
            <input type="radio" id="solid-line" name="line" value="solid" checked />
          </div>
          
          <div class="div-row">
            <label for="dashed-line">Dashed Line</label>
            <input type="radio" id="dashed-line" name="line" value="dashed" />
          </div>
        </div>
      </fieldset>
    </fieldset>
  </div>
</div>

<div id="draw-arc-modal" class="modal-content" style="display: none">
  <div id="draw-arc-modal-header" class="modal-header">
    <span class="close" id="draw-arc-span" onclick="closeModal('draw-arc-modal')">&times;</span>
  </div>
  <div id="draw-arc-div" class="div-row modal-elements-div">
    <fieldset>
      <legend>Arc Dimensions</legend>
      <div class="div-row">
        <label for="arc-xCenter">X Center</label>
        <input type="text" id="arc-xCenter" value="0" placeholder="x center" />
      </div>
      <div class="div-row">
        <label for="arc-yCenter">Y Center</label>
        <input type="text" id="arc-yCenter" value="0" placeholder="y center" />
      </div>
      <div class="div-row">
        <label for="arc-radius">Radius</label>
        <input type="text" id="arc-radius" value="1" placeholder="radius" />
      </div>
      <div class="div-row">
        <label for="arc-startAngle">Start Angle</label>
        <input type="text" id="arc-startAngle" value="0" placeholder="start angle" />
      </div>
      <div class="div-row">
        <label for="arc-endAngle">End Angle</label>
        <input type="text" id="arc-endAngle" value="90" placeholder="end angle" />
      </div>
      <fieldset>
        <legend>Direction</legend>
        <div class="div-row">
          <label for="arc-cw">CW</label>
          <input type="radio" id="arc-cw" name="direction" value="cw" checked />
        </div>
        <div class="div-row">
          <label for="arc-ccw">CCW</label>
          <input type="radio" id="arc-ccw" name="direction" value="ccw" />
        </div>
      </fieldset>
      <button type="button" id="draw-arc-modal-button" class="primary-button modal-button" onclick="drawArc()">Draw Arc</button>
    </fieldset>
    <fieldset>
      <legend>Specs</legend>

      <div class="div-row sb">
        <label for="draw-color">Draw Color:</label>
        <select id="draw-color" name="color">
          <option value="black">Black</option>
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="yellow">Yellow</option>
        </select>
      </div>

      <div class="div-row sb">
        <label for="line-width">Line Width:</label>
        <select id="line-width" name="line-width">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <fieldset>
        <legend>Line Type</legend>
        <div class="div-column">
          <div class="div-row">
            <label for="solid-line">Solid Line</label>
            <input type="radio" id="solid-line" name="line" value="solid" checked />
          </div>
          
          <div class="div-row">
            <label for="dashed-line">Dashed Line</label>
            <input type="radio" id="dashed-line" name="line" value="dashed" />
          </div>
        </div>
      </fieldset>
    </fieldset>
  </div>
</div>

<div id="add-text-modal" class="modal-content" style="display: none">
  <div id="add-text-modal-header" class="modal-header">
    <span class="close" id="add-text-span" onclick="closeModal('add-text-modal')">&times;</span>
  </div>
  <div id="add-text-div" class="div-row modal-elements-div">
    <fieldset>
      <legend>Add Text</legend>
      <div class="div-row">
        <label for="text">Text</label>
        <input type="text" class="text-input" value="Text" placeholder="text" autofocus/>
      </div>
      <div class="div-row">
        <label for="text-x">Text X</label>
        <input type="text" id="text-x" value="0" placeholder="x" />
      </div>
      <div class="div-row">
        <label for="text-y">Text Y</label>
        <input type="text" id="text-y" value="0" placeholder="y" />
      </div>
      <div class="div-row">
        <label for="text-size">Size</label>
        <input type="text" id="text-size" value="12" placeholder="size" />
      </div>

      <button type="button" id="add-text-modal-button" class="primary-button modal-button" onclick="addText()">Add Text</button>
    </fieldset>
    
    <fieldset>
      <legend>Font</legend>
      
      <div class="div-row sb">
        <label for="draw-color">Font Color:</label>
        <select id="draw-color" name="color">
          <option value="black">Black</option>
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="yellow">Yellow</option>
        </select>
      </div>
      
      <div class="div-row">
        <label for="font">Font</label>
        <select id="font" name="font">
          <option value="Arial">Arial</option>
          <option value="Times New Roman">Times New Roman</option>
          <option value="Courier New">Courier New</option>
          <option value="Georgia">Georgia</option>
          <option value="Verdana">Verdana</option>
          <!-- more options -->
        </select>
      </div>
    </fieldset>
    
  </div>
</div>

<div id="show-shapes-modal" class="modal-content" style="display: none">
  <div id="show-shapes-modal-header" class="modal-header">
    <span class="close" id="show-shapes-span" onclick="closeModal('ahow-shapes-modal')">&times;</span>
  </div>
  <div id="show-shapes-viewer"></div>
</div>

<div id="save-json-modal" class="modal-content" style="display: none">
  <div id="save-json-modal-header" class="modal-header">
    <span class="close" id="save-json-span" onclick="closeModal('save-json-modal')">&times;</span>
  </div>
  <div id="save-json-div" class="div-row modal-elements-div">
    <h5>Save JSON</h5>
    <label for="save-json-filename">File Name</label>
    <input type="text" id="save-json-filename" value="drawing" placeholder="file name" />
    <button type="button" id="save-json-modal-button" class="primary-button modal-button" onclick="saveJson()">SAVE</button>
  </div>
</div>

<div id="load-json-modal" class="modal-content" style="display: none">
  <div id="load-json-modal-header" class="modal-header">
    <span class="close" id="load-json-span" onclick="closeModal('load-json-modal')">&times;</span>
  </div>
  <div id="load-json-div" class="div-row modal-elements-div">
    <label for="existing-files" class="floating-label">Existing Files</label>
    <select class="select-box" id="existing-files">
      <option value="none"></option>
      {% for file in files %}
      <option value="{{file}}">{{file}}</option>
      {%endfor%}
    </select>
    <button type="button" id="load-json-modal-button" class="primary-button modal-button" onclick="loadJson()">LOAD</button>
  </div>
</div>
